// Colors
$black: #3c3c3c;
$grey: #f8f9fa;
$light-grey: #E4E4E4;
$dark-grey: #5E5E5E;
$blue: #039CE5;
$light-blue: #007bff;
$bright-green: #2ECC40;

// Max-width of breakpoints
$bp-lg: 1000px;
$bp-md: 790px;
$bp-sm: 520px;
