//
// Newsletter signup form contained in popup
//
.newsletter
{
  // Modal tweaks
  .featherlight-content {
    max-width: 400px;
  }
}

.newsletter.featherlight .newsletter__form{
  display: block;
}

// Common form elements (inputs, buttons)
.newsletter .newsletter__form {
  display: none;
  padding: 20px;
  min-height: 200px;

  // Common elements
  .newsletter__explaintext {
    margin-bottom: 15px;
    width: 85%;
  }
  .btn {
    margin-top: 20px;
  }
  input[type='text'],
  input[type='email'] {
    max-width: 250px;
    padding: 5px 0 5px 8px;
  }
}

.newsletter__step .email-input-step label,
.newsletter__step .location-content label {
  width: 100%;
}


// Styles for step headers
.step__header {
  color: $light-blue;
  margin: 10px 0 5px;
  padding: 5px 0;
  font-weight: bold;
}


//
// Stage 2
//
.featherlight .featherlight-content .location-content
.newsletter .location-content {
  padding-bottom: 0;
  min-height: 0;
}

//
// Stage 3
//
.newsletter .cuisines {

  .cuisines__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;

    label {
      width: 50%;
    }
  }
}

// Final stage
.newsletter .newsletter__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .checkmark {
    font-size: 32pt;
    color: #37ad37;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

//
// Unsubscribe page
//
#unsubscribe {

  h2 {
    margin-bottom: 20px;
  }
  .success-banner,
  .error-banner {
    margin: 15px 0;
    padding: 10px 10px;
  }
  .success-banner {
    border: 1px solid #28a745;
    background: #2dcc408f;
  }
  .error-banner {
    border: 1px solid red;
    background: #ff8787;
  }
  .newsletter__explaintext {
    margin-bottom: 10px;
  }
  input[type='email'] {
    margin-right: 5px;
    margin-bottom: 15px;
  }
}
