#email-subscribe-form {
  display: none;
  padding: 20px;
  min-height: 200px;

  .cuisines-list.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .success-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .checkmark {
      font-size: 32pt;
      color: #37ad37;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  input[type='text'],
  input[type='email'] {
    padding: 5px 0 5px 8px;
  }
  .description {
    margin-bottom: 15px;
  }
  .btn {
    margin-top: 10px;
  }
}
.featherlight #email-subscribe-form {
  display: block;
}

#unsubscribe {

  h2 {
    margin-bottom: 15px;
  }
  .success-banner,
  .error-banner {
    margin: 15px 0;
    padding: 10px 10px;
  }
  .success-banner {
    border: 1px solid #28a745;
    background: #2dcc408f;
  }
  .error-banner {
    border: 1px solid red;
    background: #ff8787;
  }
  .description {
    margin-bottom: 10px;
  }
  input[type='email'] {
    margin-right: 5px;
    margin-bottom: 15px;
  }
}
