/**
 * Filters
 */
#filters {
  display: flex;
}
#filter-form {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: $bp-lg) {
  #filter-form {
    display: block;
  }
}
@media (max-width: $bp-lg) {
  #btn-filter-apply {
    margin-right: 0 !important;
  }
  #filter-apply-btn-container,
  .action-buttons {
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
.filter {
  margin-right: 20px;
  margin-top: 20px;
  padding: 3px 10px;
  border: 3px solid black;
  background: white;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}
@media (max-width: $bp-md) {
  #filter-form {
    justify-content: center;
  }
}
@media (max-width: $bp-lg) {
  .filter {
    margin: 0 0 20px;
  }
  #filter-form {
    width: 100%;
  }
  .filter-container {
    flex-basis: 33.333%;
    text-align: center;
  }
}
.filter-title {
  font-size: 16pt;
  margin: 3px 10px 3px 40px;
}
.filter-title.blank {
  display: none;
}
@media (max-width: $bp-lg) {
  .filter-title {
    font-size: 14pt;
  }
}
@media (max-width: $bp-sm) {
  .filter-title {
    display: none;
  }
  .filter-title.blank {
    display: block;
  }
}
#filter:hover {
  text-decoration: underline;
}
#btn-filter-apply {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  background: $bright-green;
  margin-right: 20px;
}
#btn-spin {
  align-self: flex-end;
  background: $blue;
  color: #fff;
  border: none;
  padding: 7px 27px;
  border-radius: 5px;
  text-shadow: 1px 0 1px #333;
}
#btn-spin:disabled {
  background: $light-grey;
  color: $dark-grey;
  text-shadow: none;
}
#btn-spin:active {
  text-shadow: none;
}


/**
 * Location filter
 */
#location.flyout-open {
  padding-right: 50px;
}
#location::before {
  content: ' ';
  position: absolute;
  top: 6px; left: 14px;
  height: 28px;
  width: 32px;
  background-image: url("../assets/img/location-icon.svg");
}
@media (max-width: $bp-sm) {
  #location::before {
    top: 3px;
    left: 19px;
    height: 38px;
    width: 38px;
  }
}
#location-content.flyout input {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  padding: 2px 5px;
  outline: none;
}

/**
 * Cuisine filter
 */
#cuisines::before {
  content: ' ';
  position: absolute;
  top: 8px; left: 12px;
  height: 30px;
  width: 30px;
  background-image: url("../assets/img/cuisine-icon.svg");
}
@media (max-width: $bp-sm) {
  #cuisines::before {
    top: 4px;
    left: 19px;
    height: 38px;
    width: 38px;
  }
}
#cuisines-list.flyout label {
  width: 100%;
}
#cuisines-list.flyout input {
  margin-right: 5px;
}

/**
 * Price filter
 */
#price::before {
  content: ' ';
  position: absolute;
  top: 7px;
  left: 23px;
  height: 30px;
  width: 30px;
  background-image: url("../assets/img/price-icon.svg");
  background-size: cover;
}
@media (max-width: $bp-lg) {
  #price::before {
    top: 4px;
  }
}
#price:hover {
  text-decoration: none !important;
}
#price {
  font-weight: bold;

  #prices-list {

    img {
      max-width: 25px;
    }
  }
}
#price.flyout-open {
  padding-right: 20px;
  margin-bottom: -5px;

  .filter-title {
    padding-bottom: 5px;
  }
  #prices-list.flyout {
    top: 50px;
  }
}

/**
 * Filter flyout
 */
.flyout {
  display: none;
  position: absolute;
  top: 40px;
  background: white;
  width: calc(100% + 6px);
  margin-left: -13px;
  margin-top: -10px;
  padding: 15px;
  z-index: 2;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
@media (max-width: $bp-lg) {
  .flyout {
    text-align: left;
  }
}