/**
 * Filters
 */
#filter-form {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: $bp-md) {
  #btn-filter-apply {
    margin-right: 0 !important;
  }
  #filter-apply-btn-container {
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
.filter {
  margin-right: 20px;
  margin-top: 20px;
  padding: 3px 15px;
  border: 3px solid black;
  background: white;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}
@media (max-width: $bp-md) {
  #filter-form {
    justify-content: center;
  }
}
@media (max-width: $bp-md) {
  #filters {
    display: flex;
    flex-direction: column;
  }
  .filter {
    margin: 0 0 20px;
  }
}
.filter-title {
  font-size: 16pt;
  margin: 3px 10px 3px 40px;
}
@media (max-width: $bp-md-2) {
  .filter-title {
    font-size: 14pt;
  }
}
.filter:hover {
  text-decoration: underline;
}
#btn-filter-apply {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  background: $bright-green;
  margin-right: 20px;
}
#btn-spin {
  align-self: flex-end;
  background: $blue;
  color: #fff;
  border: none;
  padding: 7px 27px;
  border-radius: 5px;
  text-shadow: 1px 0 1px #333;
}
#btn-spin:disabled {
  background: $light-grey;
  color: $dark-grey;
  text-shadow: none;
}
#btn-spin:active {
  text-shadow: none;
}


/**
 * Location filter
 */
#location.flyout-open {
  padding-right: 50px;
}
#location::before {
  content: ' ';
  position: absolute;
  top: 8px; left: 14px;
  height: 28px;
  width: 32px;
  background-image: url("../assets/img/location-icon.svg");
}
#location-content.flyout input {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  padding: 2px 5px;
  outline: none;
}

/**
 * Cuisine filter
 */
#cuisines::before {
  content: ' ';
  position: absolute;
  top: 8px; left: 12px;
  height: 30px;
  width: 30px;
  background-image: url("../assets/img/cuisine-icon.svg");
}
#cuisines-list.flyout label {
  width: 100%;
}
#cuisines-list.flyout input {
  margin-right: 5px;
}


/**
 * Filter flyout
 */
.flyout {
  display: none;
  position: absolute;
  top: 40px;
  background: white;
  width: 103.5%;
  margin-left: -18px;
  padding: 15px;
  z-index: 2;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: -5px;
}
