$grey: #f8f9fa;

// Max-width of breakpoints
$bp-md: 1000px;
$bp-md: 767px;
$bp-sm: 420px;

/**
 * Filters
 */
#filter-form {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  #filter-apply-btn-container {
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
.filter {
  margin-right: 20px;
  margin-top: 20px;
  padding: 3px 15px;
  border: 3px solid black;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}
@media (max-width: $bp-md) {
  #filter-form {
    justify-content: center;
  }
}
@media (max-width: $bp-md) {
  #filters {
    display: flex;
    flex-direction: column;
  }
  .filter {
    margin: 0 0 20px;
  }
}
.filter-title {
  font-size: 16pt;
  margin: 3px 10px 3px 40px;
}
.filter:hover {
  text-decoration: underline;
}
#btn-filter-apply {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  background: #2ECC40;
}
#btn-spin {
  align-self: flex-end;
  background: #039CE5;
  color: #fff;
  border: none;
  padding: 7px 27px;
  border-radius: 5px;
  text-shadow: 1px 0 1px #333;
}
#btn-spin:disabled {
  background: #E4E4E4;
  color: #5E5E5E;
  text-shadow: none;
}
#btn-spin:active {
  text-shadow: none;
}

/**
 * Location filter
 */
#location.flyout-open {
  padding-right: 50px;
}
#location::before {
  content: ' ';
  position: absolute;
  top: 8px; left: 14px;
  height: 28px;
  width: 32px;
  background-image: url("../assets/img/location-icon.svg");
}
#location-content.flyout input {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  padding: 2px 5px;
  outline: none;
}

/**
 * Cuisine filter
 */
#cuisines::before {
  content: ' ';
  position: absolute;
  top: 8px; left: 12px;
  height: 30px;
  width: 30px;
  background-image: url("../assets/img/cuisine-icon.svg");
}
#cuisines-list.flyout label {
  width: 100%;
}
#cuisines-list.flyout input {
  margin-right: 5px;
}


/**
 * Filter flyout
 */
.flyout {
  display: none;
  position: absolute;
  top: 40px;
  background: #f8f9fa;
  width: 103.5%;
  margin-left: -18px;
  padding: 15px;
  z-index: 2;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: -5px;
}

/**
 * Common elements
 */
* {
  font-family: Helvetica, serif;
  color: #333;
  box-sizing: border-box;
}
html, body {
  background: $grey;
}
p {
  margin-bottom: 0;
}
h1 {
  margin: 0;
}
button {
  cursor: pointer;
  outline: none !important;
}
.page {
  margin: 20px auto;
  max-width: 1000px;
}
.no-padding {
  padding: 0;
}
.wrapper {
  width: 67%;
  margin: 0 auto;
}
@media (max-width: $bp-md) {
  .wrapper {
    width: 80%;
  }
}
.line {
  width: 100%;
  border-top: 3px solid #333;
  margin: 25px 0 20px;
}

/**
 * Header
 */
#header #title {
  text-align: center;
  margin: 20px 0;
}
#header #logo {
  height: auto;
  width: 60%;
}
@media(max-width: $bp-md) {
  #header #logo {
    width: 100%;
    max-width: 300px;
  }
}
#toolbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: $bp-md) {
  #toolbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/**
 * Footer
 */
#footer {
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
}
.yelp-credentials img {
  height: 14pt;
  margin-bottom: 5px ;
}

/**
 * Restaurant
 */
.restaurant {
    margin: 20px 0;
}
.restaurant-name {
    display: inline;
    padding: 20px 40px;
}
@media(max-width: $bp-md) {
    .restaurant-name {
        padding: 10px;
    }
}


/**
 * Spinner
 */
#spinner {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 1;
}
#spinner.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner-content {
    width: 100%;
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    30%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    30%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    30%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation {
    0%   { opacity:1; }
    30%  { opacity:0; }
    100% { opacity:1; }
}
.winner {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
.winner {

    font-size: 16pt;
    font-weight: bold;
}
.winner::before {
    content: '>';
}
.winner::after {
    content: '<';
}
.loading-spinner {
    z-index: 1;
    width: 20%;
    margin-bottom: 20px;
}
@media (max-width: $bp-md) {
    .loading-spinner {
        width: 40%;
    }
}
.loading-text {
    font-size: 16pt;
}
